.request-now-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 125px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity, 0.15s;
}

.request-now-button:hover {
    opacity: 0.7;
}

.add-to-cart-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.add-to-cart-button:hover {
    background-color: rgb(203, 173, 17);
}

.sign-up-button {
    background-color: rgb(46, 164, 79);
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow, 0.15s;
}

.sign-up-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.get-started-button {
    background-color: rgb(121, 82, 179);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color, 0.15s;
}

.get-started-button:hover {
    background-color: rgb(106, 62, 175);
}